.primary-ul, .secondary-ul, nav {
    display: flex;
    align-items: center;
}
.choices-section, .custom-section, .simplify-section {
    background-repeat: no-repeat;
}
* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}
nav {
    justify-content: space-between;
    background-color: rgb(0, 0, 0, .9);
    padding: 20px 80px 0;
    position: sticky;
    top: 0;
    z-index: 3;
}
main{
    z-index:1;
}
.fa-caret-down, footer, main, nav {
    color: #fff;
}
.primary-ul, .secondary-ul {
    list-style: none;
}
.btn-li, .simplify-section-btn {
    align-items: center;
    display: flex;
}
.primary-ul {
    gap: 60px;
}
.secondary-ul {
    gap: 40px;
}
.nav-icon-span {
    padding-left: 10px;
}
.btn-img-span {
    position: relative;
    left: 15px;
    top: 2px;
}
.simplify-section {
    padding: 100px 0 150px 80px;
    background-color: rgba(0, 0, 0, .9);
    background-image: url("/Landing_Page/Assets/Photos/frontCards.png"), url("/Landing_Page/Assets/Photos/backCards.png");
    background-position: bottom 80px left 130%, bottom 130px left 100%;
    image-rendering: -webkit-optimize-contrast;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.simplify-section-btn {
    width: 15%}
.simplify-section-primary-heading {
    font-size: 90px;
    font-weight: 400;
}
.feature-section h4, .simplify-section-secondary-heading, .transaction-section-heading-container h4 {
    font-size: 20px;
    font-weight: 100;
    line-height: 35px;
    color: #a0a0a0;
}
.active-user-container-bold-text, .plus-icon {
    font-size: 40px;
}
.simplify-section-text-span {
    position: relative;
    right: 25px;
    font-weight: 700;
}
.active-user-container {
    display: flex;
    gap: 30px;
    align-items: center;
}
.plus-icon {
    color: #c11bbf;
    font-weight: 800;
}
.logo-section {
    display: flex;
    padding: 70px 250px;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, .8);
}
.transaction-section {
    background-color: rgb(0, 0, 0, .9);
    padding: 130px 80px;
    display: flex;
    flex-direction: column;
    gap: 200px;
}
.transaction-section-heading-container {
    display: flex;
    align-items: center;
    gap: 200px;
}
.transaction-section-heading-container h2 {
    font-size: 75px;
    font-weight: 300;
}
.transaction-section-image-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.transaction-section-image-container div {
    border: 1px solid #fff;
    padding: 40px 60px;
}
.transaction-section-image-container div h3 {
    font-size: 30px;
    font-weight: 300;
}
.transaction-section-common-image {
    background-color: #272727;
}
.transaction-section-image-odd {
    position: relative;
    bottom: 100px;
    background-image: linear-gradient(black, #969696);
}
.choices-section {
    background-color: #fceffb;
    padding: 100px 80px 870px;
    background-image: url("/Landing_Page/Assets/Photos/VCards.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: auto;
    background-position: center top 300px;
    text-align: center;
}
.feature-section, footer {
    padding: 100px 80px;
}
.choices-section h1 {
    color: #000;
    font-size: 70px;
    font-weight: 300;
}
.choices-section h4 {
    color: #000;
    font-size: 22px;
    font-weight: 100;
    line-height: 25px;
    margin-top: 40px;
}
.feature-section {
    background-color: rgb(0, 0, 0, .9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
}
.feature-section-container-1, .feature-section-container-2 {
    display: flex;
    justify-content: space-around;
    text-align: left;
}
.feature-section-container-1 {
    margin-top: 60px;
}
.feature-section-container-1 div, .feature-section-container-2 div {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #fff;
    padding: 30px 20px;
    background-color: #272727;
}
.fa-ellipsis {
    color: gray;
    font-size: 60px;
}
.caraousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.caraousel-pink-button {
    background-color: #c11bbf;
    height: 20px;
    width: 70px;
    border-radius: 15px;
}
.custom-section, footer {
    background-color: rgb(0, 0, 0, .9);
    display: flex;
}
.feature-section h1 {
    font-size: 80px;
    font-weight: 300;
}
.feature-section-container-active {
    background-image: linear-gradient(black, #969696);
}
.feature-section-container-1 h5, .feature-section-container-1 h6, .feature-section-container-1 p, .feature-section-container-2 h5, .feature-section-container-2 h6, .feature-section-container-2 p {
    font-size: 18px;
    color: #ffffffb7;
    line-height: 25px;
}
.feature-section-container-1 h5, .feature-section-container-1 h6, .feature-section-container-2 h5, .feature-section-container-2 h6 {
    font-weight: 300;
    font-size: 15px;
}
.custom-section {
    background-image: url("/Landing_Page/Assets/Photos/Rectangle\ 6774.png"), url("/Landing_Page/Assets/Photos/Rectangle\ 6773.png");
    padding: 180px 80px;
    background-size: 100% 100%;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.custom-section h1 {
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}
footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 40px;
    padding-right: 160px;
}